<section>
    <header>
        <div class="logosec">
            <div class="logo" style="padding-left: 470px; padding-bottom: 10px; font-size: 50px; font-style: italic;">Cafe Managemnt Admin</div>
            <img src="assets/images/logo.jpg" class="icn menuicn" id="menuicn" alt="menu-icon" style="height: 350px; width : 350px; padding-left: 520px;">
        </div>
    </header>
    <div class="main-container">
        <div class="navcontainer">
            <nav class="nav">
                <div class="nav-upper-options">
                    <div class="option2 nav-option">
                        <a (click)="viewCustomer()">
                            <img src="assets/images/user3.png"  style="height: 350px; width : 350px; padding-left: 500px;" class="nav-img" alt="articles">
                            <h3 style="margin-left: 20px" style = "padding-left: 500px;">Show Customer</h3>
                        </a>
                    </div>
                    <div class="nav-option option3" >
                        <a (click)="viewOrder()">
                            <img src="assets/images/transaction.png" class="nav-img" alt="report"  style="height: 350px; width : 350px; padding-left: 500px;" >
                            <h3 style="margin-left: 20px" style = "padding-left: 500px;">Show Order</h3>
                        </a>
                    </div>
                    <div class="nav-option option4">
                        <a (click)="addMenu()">
                            <img src="assets/images/transaction.png" class="nav-img" alt="institution"  style="height: 350px; width : 350px; padding-left: 500px;" >
                            <h3 style="margin-left: 20px" style = "padding-left: 500px;">Show Payments</h3>
                        </a>
                    </div>
                    <div class="nav-option option5">
                        <a (click)="addMenu()">
                            <img src="assets/images/transaction.png" class="nav-img" alt="institution"  style="height: 350px; width : 350px; padding-left: 500px;" >
                            <h3 style="margin-left: 20px" style = "padding-left: 500px;">Show Menu</h3>
                        </a>
                    </div>
                  
                    <div class="nav-option option7">
                        <a (click)="logout()">
                            <img src="assets/images/logout.png" class="nav-img" alt="institution"  style="height: 350px; width : 350px; padding-left: 500px;" >
                            <h3 style="margin-left: 20px" style = "padding-left: 500px;">Logout</h3>
                        </a>
                    </div>
                    

                </div>
            </nav>
        </div>
       
                   
            
        
    </div>

