<!DOCTYPE html>
<html lang="en">
    <head>
       
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <link rel="login-page.component.css" href="homepage.component.css">
        <link rel="login-page.component.css" href="icons/icon.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Cafe Management</title>    
    </head>
    <body >
          
        <section class="menu">
            <div class="nav">
                <div class="logo">
                    <img src="/assets/images/logo.png" alt="Cafe Management Logo">
                    <h1>Cafe<b>Management</b></h1>
                </div>
                

<div class="button-container">
    <a routerLink="/log-in" class="login-button">LogIn</a>
    <a routerLink="/signup" class="signup-button">SignUp</a>
    <a routerLink="/adminlogin" class="adminlogin-button">Admin</a>
</div>

            </div>
        </section>
        <section class="grid">
            <div class="content">
                <div class="content-left">
                    <div class="info">
                        <h2>Order Your Best <br>Food anytime</h2>
                        <p>Hey, Our delicious food is waiting for you, <br> 
                        we are always near to you with fresh items of food</p>
                    </div>
                    <a routerLink="/log-in" class="explorefood-button">Explore Food</a>
                </div>
            </div>
        </section>
        <section>
            <div class="content">
                <div class="content-right">
                    <img src="/assets/images/pizzamain.png" width="400" alt="" class="image">
                </div>
            </div>
           </section>

           <section class="category">
            <div class="list-items">
                <h1  ><b>Popular Dishes</b></h1>
                <div class="card-list">
                    <img src="/assets/images/burger.png" alt="" width="100">
                     <div class="food-title">
                        <h2>Burger</h2>
                        
                     </div>
                     <div class="desc-food">
                        <p>"Juicy, big, loaded with toppings of my choice." "High quality well with cheese and bacon on a multigrain bun." </p>
                     </div>
                     
                     <div class="price">
                        <p>₹180 </p>
                     </div>
                     
                <div class="card-list">
                    <img src="/assets/images/Pineapple Pizza.png" width="100">
                </div>
                <div class="food-title">
                    <h2>Pineapple Pizza</h2>
                </div>
                <div class="desc-food">
                    <p>It's luscious and syrupy in texture, is like nectar from the gods. Pineapple helps lift the overall flavour profile of a pizza.</p>
                </div>
                <div class="price">
                    <p>₹240 </p>
                </div>
                </div>
            </div>
        </section>
    </body>
</html>