<section>
    <header>
        <div class="logosec">
            <div class="logo" style="padding-left: 470px; padding-bottom: 10px; font-size: 50px; font-style: italic;">Cafe Managemnt Admin</div>
            <img src="assets/images/order.png" class="icn menuicn" id="menuicn" alt="menu-icon" style="height: 350px; width : 400px; padding-left: 520px;">
        </div>
    </header>
    
        <div class="main">
            <div class="title-container">
                <h3>All Orders</h3>
            </div>
            <div class="box-container">
                
                <div class="section-content section-content-p30">
                    <div class="container-fluid">
                        
                        <div class="row">
                          <table class='table'>
                            <thead>
                                <tr class='table-dark'>
                                    <th class="center" >OrderID</th>
                                    <th class="center">Customer</th>
                                    <th class="center">OrderDate</th>
                                    <th class="center">OrderTime</th>
                                    <th class="center">Menu Item</th>
                                    <th class="center">Quantity</th>
                                    <th class="center">Total Price</th>
                                    <th class="center">Status</th>
                                    <th></th>
                                    
                                </tr>
                        
                            </thead>
                            <tr *ngFor="let temporder of order  | paginate: { itemsPerPage: count, currentPage: p }">
                                <td class="center">{{temporder.orderId}}</td>
                                <td class="center">{{temporder.user.username}}</td>
                                <td class="center">{{temporder.orderDate}}</td>
                                <td class="center">{{temporder.orderTime}}</td>
                                <td class="center">{{temporder.food.fname}}</td>
                                <td class="center">{{temporder.quantity}}</td>
                                <td class="center">{{temporder.totalPrice}}</td>
                                <td class="center">{{temporder.status}}</td>
                                <td class="center">
                                    <button type="button" class="btn btn-md btn-danger" (click)="deleteOrder(temporder.orderId)">Delete</button>
                                </td>
                            </tr>
                        </table> 
                        <div class="text-right" style="padding-top: 20px;">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                            
                              
                        </div>
                    </div>
                </div>
            </div>

        </div>